<%= render '/shared/title', title: "Hello! #{current_user.name}" %>

<div class="col-md-8 col-md-offset-1">
<h3> Your posts: </h3>
</div>
<% @posts.each do |post| %>

<div class="row">
	<div class="col-md-8 col-md-offset-1">
 		<ol>
 		<li><h4><%= link_to "#{post.title}", post_path(post) %></li></h4>
 		</oi>
 	</div>

</div>
<% end %>

<div class="col-md-8 col-md-offset-1">
<h3> Your comments: </h3>
</div>
<% @comments.each do |comment| %>

<div class="row">
	<div class="col-md-8 col-md-offset-1">
 		<ol>
 		<li><h4><%= link_to "#{comment.content}", post_path(comment.post) %></li></h4>
 		</oi>
 	</div>

</div>
<% end %>