<%= render 'shared/title', title:'Editing Post' %>

<div class="row">
  <div class="col-md-8 col-md-offset-1">
<%= render 'form' %>
<span>
<%= link_to "Back to post", post_path(@post) %> 
</span>
<br>
</div>
